<ion-view title="瑞金足踝-后台管理" id="indexPage" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img ng-src="img/admin_index01.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="indexPage-list1" class=" ">
            <ion-item class="item-thumbnail-left" ui-sref="s-sm.patientListPage">
                <img ng-src="img/patient01.png">
                <h2>患者管理</h2>
                <p>查询患者，并且对其进行管理</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="s-sm.doctorListPage">
                <img ng-src="img/doctor01.png">
                <h2>医师管理</h2>
                <p>查询医师，并且对其进行管理</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="s-sm.orderListPage">
                <img ng-src="img/order01.png">
                <h2>咨询管理</h2>
                <p>查询咨询，并且对其进行管理</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>