<ion-view view-title="咨询管理">

  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>

  <ion-content direction="y" scrollbar-y="false">

    <ion-refresher pulling-icon="ion-arrow-down-b" on-refresh="refreshItems()">
    </ion-refresher>

    <ion-list>
       <ion-list id="historyOrderPage-list3" class=" " ng-repeat="order in items">
            <ion-item class="" ng-click="showItem(order)" >
                <p>咨询号：{{order.ID}} -- {{order.CreateTime}} （<strong>{{order.Status, select,
						ongoing {进行中}
						unpaid {等待付款}
						complete {已结束}
						new {等待确认}
						other {未知状态}
				}}</strong>）</p>
				<h2>医师：{{order.CTDoctor.Name}}，{{order.CTDoctor.MedicalLevel}}（<strong>价格：{{order.CTDoctor.Price}}元</strong>）</h2>
				<h2>患者：{{order.CTPatient.Name}}，{{order.CTPatient.Gender, select,
									F {女}
									M {男}
									other {}}}，病情：{{order.CTDetail.Description}}</h2>
            </ion-item>
        </ion-list>
    </ion-list>
		
		<div ng-if="items !== undefined && !items.length" style="height:200px;line-height:200px;text-align:center; vertical-align:middle;">
			<strong>没有可以显示的记录</strong>
		</div>
    </ion-content>

</ion-view>
