<ion-view title="患者详情（{{patient.ID}}）" id="patientInfoPage" class=" " cache-view="false" >
    <ion-content padding="true" class="has-header">
	    <div class="item item-body " id="patientUpdatePage-list-item-container1">
            <div>
                <img ng-src="../uploadedImg/{{patient.Avatar}}" style="display: block; 
		width: 50%;
		height: 50%; margin-left: auto; margin-right: auto; 
		border-radius: 50%;">
            </div>
			<div id="patientInfoPage-markdown1" style="color:#000000;" class=" ">
				<p>
					<strong>用户名：</strong>{{patient.Login}}</p>
				
				<p>
					<strong>创建时间：</strong>{{patient.CreateTime}}</p>
				
				<p>
					<strong>账户状态：</strong>{{patient.IsDeleted, select,
					        Y {停用}
							other {正常}
				}}</p>

				<p>
					<strong>患者姓名：</strong>{{patient.Name}}</p>

				<p>
					<strong>性别：</strong>{{patient.Gender, select,
									F {女}
									M {男}
									other {}
					}}</p>

				<p>
					<strong>住址：</strong>{{patient.Address}}</p>

				<p>
					<strong>邮箱：</strong>{{patient.Mail}}</p>

				<p>
					<strong>手机号码：</strong>{{patient.Mobile}}</p>
			</div>
        </div>
    </ion-content>
	
	<ion-footer-bar>
		<div class="tabs tabs-icon-top tabs-color-dark">
		  <a ng-if="patient.IsDeleted === 'N'" ng-click="changeIsDeleted(patient)" class="tab-item">
			<i class="icon ion-locked"></i>
			<strong>停用</strong>
		  </a>
		  <a ng-if="patient.IsDeleted === 'Y'" ng-click="changeIsDeleted(patient)" class="tab-item">
			<i class="icon ion-unlocked"></i>
			<strong>启用</strong>
		  </a>
		</div>
	</ion-footer-bar>
	
</ion-view>