<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="s-sm"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="s-sm">
        <ion-content padding="false" class="side-menu-left no-header">
			<ion-list id="side-menu21-list9">
                <ion-item ui-sref="s-sm.indexPage" class="item-icon-left"  menu-close="" id="b1">
                    <i class="icon ion-flag"></i><strong>首页</strong></ion-item>
                <ion-item ui-sref="s-sm.patientListPage" menu-close="" class="item-icon-left" id="b2">
                    <i class="icon ion-ios-people"></i><strong>患者管理</strong></ion-item>
                <ion-item ui-sref="s-sm.doctorListPage" menu-close="" class="item-icon-left" id="b3">
                    <i class="icon ion-ios-people-outline"></i><strong>医师管理</strong></ion-item>
                <ion-item ui-sref="s-sm.orderListPage" menu-close="" class="item-icon-left" id="b4">
                    <i class="icon ion-code-working"></i><strong>咨询管理</strong></ion-item>
            </ion-list>
        </ion-content>
		<ion-footer-bar class="bar-dark">
			<div class="title" ui-sref="login" >退出登录</div>
		</ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>