<ion-view title="咨询详情-100345" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="100345-list8" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="100345-list-item6" ui-sref="d-sm.1003452">
                <img src="img/SEz1gitTgqQT7LwDQmHA_160936l7v7r5rlj107r0hv.jpg">
                <h2>患者：老王</h2>
                <p>状态： 已回复2次</p>
                <i class="icon ion-android-chat"></i>
            </ion-item>
        </ion-list>
        <p id="100345-markdown2" style="color:#000000;" class=" ">
            <p>
                <strong>患者姓名：</strong>老王</p>

            <p>
                <strong>性别：</strong>男</p>

            <p>
                <strong>出生日期：</strong>1968年6月8日</p>

            <p>
                <strong>手机号码：</strong>18812345678</p>

            <p>
                <strong>病情描述：</strong>这两天很肿胀，晚上睡不好觉，请问有什么止痛药可以服用推荐？</p>

            <p>
                <strong>询诊图片:</strong>
            </p>
        <div class="">
            <img src="img/1LNTOUeQSGsCfNn7bUzS_jiaohuai1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/4inGvTdPSsqxxWWWc9px_jiaohuai2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>