<ion-view title="追加回复-100345" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="1003453-form6" class="list ">
            <label class="item item-input " id="1003453-input13" name="我明天在东院，请尽快复诊，以免延误～">
                <span class="input-label">我明天在东院，请尽快复诊，以免延误～</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="d-sm.1003452" id="1003453-button11" class=" button button-positive  button-block ">提交</a>
        <a ui-sref="d-sm.1003452" id="1003453-button12" class=" button button-dark  button-block ">取消</a>
    </ion-content>
</ion-view>