<ion-view title="订单详情-100345" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="100345-list8" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="100345-list-item6" ui-sref="d-sm.1003452">
                <img src="img/zhrBfKalTXyYlo8sQG7A_huanzhe10.jpg">
                <h2>患者：张婷</h2>
                <p>状态： 待接单</p>
                <i class="icon ion-android-checkbox-outline"></i>
            </ion-item>
        </ion-list>
        <p id="100345-markdown2" style="color:#000000;" class=" ">
            <p>
                <strong>患者姓名：</strong>张婷</p>

            <p>
                <strong>性别：</strong>女</p>

            <p>
                <strong>出生日期：</strong>1988年8月8日</p>

            <p>
                <strong>手机号码：</strong>18812345678</p>

            <p>
                <strong>病情描述：</strong>上次穿高跟鞋下楼梯时将脚踝扭伤，2周一直疼痛。。。</p>

            <p>
                <strong>询诊图片:</strong>
            </p>
        <div class="">
            <img src="img/1LNTOUeQSGsCfNn7bUzS_jiaohuai1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/4inGvTdPSsqxxWWWc9px_jiaohuai2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>