<ion-view title="个人资料" id="doctorInfoPage" class=" " cache-view="false" >
    <ion-content padding="true" class="has-header">
	    <div class="item item-body " id="doctorUpdatePage-list-item-container1">
            <div>
                <img ng-src="../uploadedImg/{{doctor.Avatar}}" style="display: block; 
		width: 50%;
		height: 50%; margin-left: auto; margin-right: auto; 
		border-radius: 50%;">
            </div>
			<button ng-click="updateImage()" id="doctorInfoPage-button13" class=" button button-balanced button-small icon ion-ios-cloud-upload ">上传新头像</button>
			<div id="doctorInfoPage-markdown1" style="color:#000000;" class=" ">
				<p>
					<strong>用户名：</strong>{{doctor.Login}}</p>

				<p>
					<strong>医生姓名：</strong>{{doctor.Name}}</p>

				<p>
					<strong>性别：</strong>{{doctor.Gender, select,
									F {女}
									M {男}
									other {}
					}}</p>

				<p>
					<strong>住址：</strong>{{doctor.Address}}</p>

				<p>
					<strong>邮箱：</strong>{{doctor.Mail}}</p>

				<p>
					<strong>出生日期：</strong>{{doctor.Birthday}}</p>

				<p>
					<strong>手机号码：</strong>{{doctor.Mobile}}</p>

				<p>
					<strong>医师级别：</strong>{{doctor.MedicalLevel}}</p>

				<p>
					<strong>咨询价格：</strong>{{doctor.Price}}元</p>
			</div>
        </div>
        <a ui-sref="d-sm.doctorUpdatePage" id="doctorInfoPage-button7" class=" button button-positive  button-block">编辑</a>
        <a ui-sref="d-sm.updatePasswordPage" id="doctorInfoPage-button7" class=" button button-balanced  button-block">修改密码</a>
    </ion-content>
</ion-view>