<ion-view title="上传图片" id="imageUploadPage" class=" ">
      <ion-content ng-controller="imageUploadPageCtrl">
        <input class="bottom-marg-15" type="file" name="file" file="file">
        <button class="button button-small button-full button-positive" ng-disabled="file.size&amp;&amp;false || uploadProgress&gt;0" ng-click="addMedia()" ng-cloak="">Upload</button>
        <img class="fit" ng-if="uploadUri" ng-src="{{uploadUri}}">
        <a ng-href="{{uploadUri}}" ng-bind="uploadUri"></a>
      </ion-content>
</ion-view>