<ion-view view-title="找回密码" name="mailPassword-view" cache-view="false" >
  <ion-content class="padding">
      <div class="list list-inset" ng-form name="mailForm">
          <label class="item item-input" ng-class="{ 'has-error' : mailForm.Mail.$invalid}" >
              <input name="Mail" type="email" placeholder="请输入电子邮箱..." ng-model="data.mail" ng-minlength="5" required>
          </label>
		  <span class="form-error" ng-show="mailForm.Mail.$error.required">电子邮箱不能为空</span>
		  <span class="form-error" ng-show="mailForm.Mail.$invalid && !mailForm.Mail.$pristine">电子邮箱地址不符合格式</span>
      </div>
      <button class="button button-block button-calm" ng-disabled="mailForm.$invalid" ng-click="mailPassword()">找回密码</button>
  </ion-content>
</ion-view>