<ion-view title="{{page.title}}（{{currentOrder.ID}}）" id="orderDetail" class=" "  cache-view="false" >
    <ion-content padding="true" class="has-header">
        <ion-list id="100345-list8" class=" ">
            <ion-item ng-if="page.orderType === 'archived'"  class="item-avatar item-icon-right" id="100345-list-item6" ng-click="getConvs(currentOrder)" >
                <img ng-src="../uploadedImg/{{currentOrder.CTPatient.Avatar}}">
                <h2><strong>咨询已存档，点击查看历史</strong></h2>
                <p><strong>患者：{{currentOrder.CTPatient.Name}}</strong></p>
                <i class="icon ion-locked "></i>
            </ion-item>
            <ion-item ng-if="page.orderType === 'complete'"  class="item-avatar item-icon-right" id="100345-list-item6" ng-click="getConvs(currentOrder)" >
                <img ng-src="../uploadedImg/{{currentOrder.CTPatient.Avatar}}">
                <h2><strong>咨询已结束，点击查看历史</strong></h2>
                <p><strong>患者：{{currentOrder.CTPatient.Name}}</strong></p>
                <i class="icon ion-locked "></i>
            </ion-item>
            <ion-item  ng-if="page.orderType === 'ongoing'" class="item-avatar item-icon-right" id="100345-list-item6" ng-click="getConvs(currentOrder)" >
                <img ng-src="../uploadedImg/{{currentOrder.CTPatient.Avatar}}">
                <h2 class="assertive"><strong>咨询进行中，点击与患者互动</strong></h2>
                <p><strong>患者：{{currentOrder.CTPatient.Name}}</strong></p>
                <i class="icon ion-android-chat assertive"></i>
            </ion-item>
            <ion-item ng-if="page.orderType === 'new'" class="item-avatar item-icon-right" id="100345-list-item6" ng-click="pickup(currentOrder)" >
                <img ng-src="../uploadedImg/{{currentOrder.CTPatient.Avatar}}">
                <h2 class="positive"><strong>待确认咨询，点击接单</strong></h2>
                <p><strong>患者：{{currentOrder.CTPatient.Name}}</strong></p>
                <i class="icon ion-checkmark positive "></i>
            </ion-item>
        </ion-list>
        <div id="100345-markdown2" style="color:#000000;" class=" ">
            <p>
                <strong>患者姓名：</strong>{{currentOrder.CTPatient.Name}}</p>

            <p>
                <strong>性别：</strong>{{currentOrder.CTPatient.Gender, select,
									F {女}
									M {男}
									other {}}}</p>

            <p>
                <strong>发病年龄：</strong>{{currentOrder.CTDetail.IssueAge}}</p>

            <p>
                <strong>手机号码：</strong>{{currentOrder.CTPatient.Mobile}}</p>

            <p>
                <strong>病情描述:</strong></p>
			
				<textarea style="width:100% " rows="6" readonly="true">{{currentOrder.CTDetail.Description}}</textarea>

            <p>
                <strong>主要症状:</strong></p>
			
				<textarea style="width:100% " rows="6" readonly="true">{{currentOrder.CTDetail.Description2}}</textarea>

            <p>
                <strong>就诊经历:</strong></p>
			
				<textarea style="width:100% " rows="6" readonly="true">{{currentOrder.CTDetail.Description3}}</textarea>

            <p>
                <strong>其他病史:</strong></p>
			
				<textarea style="width:100% " rows="6" readonly="true">{{currentOrder.CTDetail.Description4}}</textarea>

            <p>
                <strong>过敏史:</strong></p>
			
				<textarea style="width:100% " rows="6" readonly="true">{{currentOrder.CTDetail.Description5}}</textarea>
        </div>
    </ion-content>
</ion-view>