<ion-view title="历史订单" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page3-list3" class=" ">
            <ion-item class="item-thumbnail-left" ui-sref="side-menu21.100345">
                <img src="img/QwLA6GKHQXaduxoZEWfo_160936l7v7r5rlj107r0hv.jpg">
                <h2>患者：老王</h2>
                <p>我想来贵院检查</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="side-menu21.100345">
                <img src="img/nYCN63XoRsmDzAFeDvH1_160936l7v7r5rlj107r0hv.jpg">
                <h2>患者：老王</h2>
                <p>请问加固手术费用...</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>