<ion-view title="进行中订单" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page2-list2" class=" ">
            <ion-item class="item-thumbnail-left" ui-sref="side-menu21.100345">
                <img src="img/zhrBfKalTXyYlo8sQG7A_huanzhe10.jpg">
                <h2>患者：张婷</h2>
                <p>这两天很肿胀，晚上睡不好觉，请问有什么止痛药可以服用推荐？</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="side-menu21.100345">
                <img src="img/AbdQqDWTuaoFfw78sHrw_160936l7v7r5rlj107r0hv.jpg">
                <h2>患者：老王</h2>
                <p>这两天很肿胀，晚上睡不好觉，请问有什么止痛药可以服用推荐？</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>