<ion-view title="医师资料" id="page4" class=" ">
    <ion-content padding="true" class="has-header">        
		<div id="page4-markdown1" style="color:#000000;" class=" ">
            <p>
                <strong>用户名：</strong>huatuo88</p>

            <p>
                <strong>医师姓名：</strong>华小坨</p>

            <p>
                <strong>性别：</strong>女</p>

            <p>
                <strong>电子邮箱：</strong>huatuo88@qq.com</p>

            <p>
                <strong>出生日期：</strong>1958年5月8日</p>

            <p>
                <strong>手机号码：</strong>18812345678</p>
        </div>
        <a ui-sref="side-menu21.page8" id="page4-button7" class=" button button-positive  button-block ">更新</a>
    </ion-content>
</ion-view>