<ion-view title="待接单" id="pickupOrderPage" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="openOrderPage-list2" class=" " ng-repeat="order in results">
            <ion-item class="item-thumbnail-left" ng-click="getDetail(order)" >
                <img ng-src="../uploadedImg/{{order.CTPatient.Avatar}}">
                <p>咨询号：{{order.ID}} -- {{order.CreateTime}}</p>
				<h2>患者：{{order.CTPatient.Name}} （<strong>{{order.Status, select,
						ongoing {进行中}
						unpaid {待付款}
						complete {已结束}
						new {待接单}
						other {未知状态}
				}}</strong>）</h2>
                <p>病情：{{order.CTDetail.Description}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>