<ion-view title="订单互动-100345" id="page10" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="1003452-list6" class=" ">
            <ion-item class="item-avatar  " id="1003452-list-item3" href="tel:">
                <img src="img/7DbVFEq2QnWpIMNmVA56_160936l7v7r5rlj107r0hv.jpg">
                <h2>老王 2016/5/8 8:30:28</h2>
                <p style="white-space:normal;">这两天很肿胀，晚上睡不好觉，请问有什么止痛药可以服用推荐？（附图）
				<img width="100%" height="auto" src="img/1LNTOUeQSGsCfNn7bUzS_jiaohuai1.jpg">
				<img width="100%" height="auto" src="img/4inGvTdPSsqxxWWWc9px_jiaohuai2.jpg"></p>
            </ion-item>
            <ion-item class="item-avatar  " id="1003452-list-item4">
                <img src="img/mTzt2BLNQrWpw7ISUvHc_QINeGGveRSmTK5dhSh2b_doc18.jpg">
                <h2>王医师 2016/5/8 18:30:28</h2>
                <p style="white-space:normal;">因为情况特殊，请回院复查，担心有病变发生～</p>
            </ion-item>
            <ion-item class="item-avatar  " id="1003452-list-item7" href="tel:">
                <img src="img/7DbVFEq2QnWpIMNmVA56_160936l7v7r5rlj107r0hv.jpg">
                <h2>老王 2016/5/10 10:30:28</h2>
                <p style="white-space:normal;">我儿子最近到镇上做生意，下周才回来，能否先开些止痛药，我先服用，止痛的。</p>
            </ion-item>
            <ion-item class="item-avatar  " id="1003452-list-item8">
                <img src="img/mTzt2BLNQrWpw7ISUvHc_QINeGGveRSmTK5dhSh2b_doc18.jpg">
                <h2>王医师 2016/5/11 15:30:28</h2>
                <p style="white-space:normal;">可以采用垫高，的方式缓解肿胀，同时采用上药的XXXX口服，早晚各XX单位。但是建议尽快到院检查，勿延误治疗。我下周2、4上午在院。 （附图）
				<img width="100%" height="auto" src="img/zhitongyao01.png"></p>
            </ion-item>
        </ion-list>
        <a ui-sref="side-menu21.1003453" id="1003452-button14" class=" button button-positive  button-block ">追加问题</a>
    </ion-content>
</ion-view>