<ion-view title="订单详情-100345" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="100345-list8" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="100345-list-item6" ui-sref="side-menu21.1003452">
                <img src="img/uvKpTHRiRteCm0aHFVXA_QINeGGveRSmTK5dhSh2b_doc18.jpg">
                <h2>应诊：张医生</h2>
                <p>状态： 已支付</p>
                <i class="icon ion-android-chat"></i>
            </ion-item>
        </ion-list>
        <div id="100345-markdown2" style="color:#000000;" class=" ">
            <p>
                <strong>患者姓名：</strong>老王</p>

            <p>
                <strong>性别：</strong>男</p>

            <p>
                <strong>出生日期：</strong>1968年6月8日</p>

            <p>
                <strong>手机号码：</strong>18812345678</p>

            <p>
                <strong>病情描述：</strong>这两天很肿胀，晚上睡不好觉，请问有什么止痛药可以服用推荐？</p>

            <p>
                <strong>询诊图片:</strong>
            </p>
        </div>
        <div class="">
            <img src="img/1LNTOUeQSGsCfNn7bUzS_jiaohuai1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/4inGvTdPSsqxxWWWc9px_jiaohuai2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <a ui-sref="side-menu21.page7" id="100345-button8" class=" button button-balanced  button-block ">新建/编辑订单</a>
    </ion-content>
</ion-view>