<ion-view title="追加问题-100345" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="1003453-form6" class="list ">
            <label class="item item-input " id="1003453-input13" name="我儿子回来了，请问张医生明天上午可否候诊？">
                <span class="input-label">我儿子回来了，请问张医生明天上午可否候诊？</span>
                <input type="text" placeholder="">
            </label>
			<input type="file" value="" />
        </form>
        <a ui-sref="side-menu21.1003452" id="1003453-button11" class=" button button-positive  button-block ">提交</a>
        <a ui-sref="side-menu21.1003452" id="1003453-button12" class=" button button-dark  button-block ">取消</a>
    </ion-content>
</ion-view>