<ion-view title="{{pageTitle}}" id="createOrderPage" class=" ">
    <ion-content padding="true" class="has-header" >
        <form id="createOrderPage-form" class="list " >
            <label class="item item-input  " id="patientUpdatePage-select1">
                <span class="input-label">医师选择</span>
                <input ng-if="isDoctorFixed" type="text" readonly="true" ng-click="openModal()" placeholder="{{currentOrder.CTDoctor.Name}}">
                <input ng-if="!isDoctorFixed" type="text" readonly="true" placeholder="不指定医师">
            </label>
			<ion-item>
				<ion-label floating >病情描述</ion-label>
				<textarea style="width:100% " rows="10" placeholder="请填写病情....." ng-model="currentOrder.CTDetail.Description">{{currentOrder.CTDetail.Description}}</textarea>
			</ion-item>
        </form>
        <a id="createOrderPage-button" class=" button button-positive  button-block " ng-click="createOrder(currentOrder)" >{{buttonLabel}}</a>
    </ion-content>
</ion-view>