<ion-view title="追加提问({{currentOrder.ID}})" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="1003453-form6" class="list ">
			<ion-item>
				<ion-label floating >追加提问</ion-label>
				<textarea style="width:100% " rows="10" placeholder="请填写追加信息....."  ng-model="currentOrderConv.Description">{{currentOrderConv.Description}}</textarea>
			</ion-item>
        </form>
        <a id="1003453-button11" class=" button button-positive  button-block " ng-click="createOrderConv(currentOrderConv)">提交</a>
        <a ui-sref="p-sm.orderConvsPage" id="1003453-button12" class=" button button-dark  button-block ">取消</a>
    </ion-content>
</ion-view>