<ion-view title="{{pageTitle}}" id="createOrderPage" class=" " cache-view="false" >
    <ion-content padding="true" class="has-header" >
        <form id="createOrderPage-form" class="list " >
            <label ng-if="!isDoctorFixed" class="item item-input  " id="patientUpdatePage-select1">
                <span class="input-label">医师选择</span>
                <input type="text" readonly="true" placeholder="不指定医师">
            </label>
            <label ng-if="isDoctorFixed" class="item item-input  " id="patientUpdatePage-select1">
                <span class="input-label">点击选择医师</span>
                <input type="text" readonly="true" ng-click="openModal()" placeholder="{{currentOrder.CTDoctor.Name}}">
            </label>
			<ion-item>
				<ion-label floating >病情描述</ion-label>
				<textarea style="width:100% " rows="10" placeholder="请填写病情描述....." ng-model="currentOrder.CTDetail.Description">{{currentOrder.CTDetail.Description}}</textarea>
			</ion-item>
			<ion-item>
				<ion-label floating >主要症状</ion-label>
				<textarea style="width:100% " rows="6" placeholder="请填写主要症状....." ng-model="currentOrder.CTDetail.Description2">{{currentOrder.CTDetail.Description2}}</textarea>
			</ion-item>
			<ion-item>
				<ion-label floating >就诊经历</ion-label>
				<textarea style="width:100% " rows="6" placeholder="请填写就诊经历....." ng-model="currentOrder.CTDetail.Description3">{{currentOrder.CTDetail.Description3}}</textarea>
			</ion-item>
			<ion-item>
				<ion-label floating >其他病史</ion-label>
				<textarea style="width:100% " rows="6" placeholder="请填写其他病史....." ng-model="currentOrder.CTDetail.Description4">{{currentOrder.CTDetail.Description4}}</textarea>
			</ion-item>
			<ion-item>
				<ion-label floating >过敏史</ion-label>
				<textarea style="width:100% " rows="6" placeholder="请填写过敏史....." ng-model="currentOrder.CTDetail.Description5">{{currentOrder.CTDetail.Description5}}</textarea>
			</ion-item>
        </form>
        <a id="createOrderPage-button" class=" button button-positive  button-block " ng-click="createOrder(currentOrder)" >{{buttonLabel}}</a>
    </ion-content>
</ion-view>