  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{pageTitle}}</h1>
    </ion-header-bar>
    <ion-content>
       <ion-list id="historyOrderPage-list3" class=" " ng-repeat="doctor in doctors">
            <ion-item class="item-thumbnail-left" ng-click="setOption(doctor)" >
                <img src="../uploadedImg/{{doctor.Avatar}}">
				<h2>{{doctor.Name}} <strong>（{{doctor.Gender, select,
									F {女}
									M {男}
									other {}}}, 医师编号:{{doctor.ID}}）</strong></h2>
                <p><strong>{{doctor.MedicalLevel}}, 咨询价格：{{doctor.Price}}元</strong></p>
                <p>地址： {{doctor.Address}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
	<ion-footer-bar  class="bar-assertive">
        <a id="btn" class=" button button-positive  button-block " ng-click="returnClicked()" >不选择医生，返回</a>
	</ion-footer-bar>
	
  </ion-modal-view>