  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">{{pageTitle}}</h1>
    </ion-header-bar>
    <ion-content>
       <ion-list id="historyOrderPage-list3" class=" " ng-repeat="doctor in doctors">
            <ion-item class="item-thumbnail-left" ng-click="setOption(doctor)" >
                <img ng-src="../uploadedImg/{{doctor.Avatar}}">
				<h2>{{doctor.Name}} <strong>（{{doctor.Gender, select,
									F {女}
									M {男}
									other {}}}）</strong></h2>
                <p><strong>{{doctor.MedicalLevel}}</strong></p>
                <p>医师系统编号:{{doctor.ID}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
	<ion-footer-bar class="bar-dark">
	    <div class="title" ng-click="returnClicked()" >不选择医生，返回</div>
	</ion-footer-bar>
	
  </ion-modal-view>