<ion-view title="订单互动({{currentOrder.ID}})" id="historyConvsPage" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="1003452-list6" class=" " ng-repeat="conv in orderConvs" >
            <ion-item class="item-avatar  " id="1003452-list-item3" >
                <img src="img/{{currentOrder.Patient.Avatar}}">
                <h2>{{currentOrder.Patient.Name}} {{conv.CreateTime}}</h2>
                <p style="white-space:normal;">{{conv.Description}}
				<img width="100%" height="auto" src="img/1LNTOUeQSGsCfNn7bUzS_jiaohuai1.jpg">
				<img width="100%" height="auto" src="img/4inGvTdPSsqxxWWWc9px_jiaohuai2.jpg"></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>