<ion-view title="历史咨询" id="historyOrderPage" class=" " cache-view="false" >
    <ion-content padding="true" class="has-header">
        <ion-list id="historyOrderPage-list3" class=" " ng-repeat="order in results">
            <ion-item class="item-thumbnail-left" ui-sref="p-sm.orderDetailPage" ng-click="getDetail(order)" >
                <img ng-src="../uploadedImg/{{order.CTDoctor.Avatar}}">
                <p>咨询号：{{order.ID}} -- {{order.CreateTime}}</p>
				<h2>医师：{{order.CTDoctor.Name}}（<strong>{{order.Status, select,
						ongoing {进行中}
						unpaid {待付款}
						complete {已结束}
						new {待接单}
						other {未知状态}
				}}</strong>）</h2>
				<p>{{order.CTDoctor.MedicalLevel}}（<strong>价格：{{order.CTDoctor.Price}}元</strong>）</p>
                <p>病情：{{order.CTDetail.Description}}</p>
            </ion-item>
        </ion-list>
		<div ng-if="!results.length || results.length === 0" style="height:200px;line-height:200px;text-align:center; vertical-align:middle;">
			<strong>没有可以显示的记录</strong>
		</div>
    </ion-content>
</ion-view>