<ion-view title="历史订单（{{currentOrder.ID}}）" id="historyDetail" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="100345-list8" class=" ">
            <ion-item class="item-avatar item-icon-right" id="100345-list-item6" ui-sref="mc-sidemenu.historyConvsPage" ng-click="getConvs(currentOrder)" >
                <img src="img/{{currentOrder.Doctor.Avatar}}">
                <h2>应诊：{{currentOrder.Doctor.Name}}</h2>
                <p>状态：{{currentOrder.Status}}</p>
                <i class="icon ion-locked"></i>
            </ion-item>
        </ion-list>
        <div id="100345-markdown2" style="color:#000000;" class=" ">
            <p>
                <strong>患者姓名：</strong>{{currentOrder.Patient.Name}}</p>

            <p>
                <strong>性别：</strong>{{currentOrder.Patient.Gender}}</p>

            <p>
                <strong>出生日期：</strong>{{currentOrder.Patient.Birthday}}</p>

            <p>
                <strong>手机号码：</strong>{{currentOrder.Patient.Mobile}}</p>

            <p>
                <strong>病情描述：</strong>{{currentOrder.Detail.Description}}</p>

            <p>
                <strong>询诊图片:</strong>
            </p>
        </div>
        <div class="">
            <img src="img/1LNTOUeQSGsCfNn7bUzS_jiaohuai1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/4inGvTdPSsqxxWWWc9px_jiaohuai2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>