<ion-view title="瑞金足踝首页（已登录）" id="indexPage" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/k9n0gpcbRiFIUhLF7S8Q_zuhuai2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="indexPage-list1" class=" ">
            <ion-item class="item-thumbnail-left" ui-sref="mc-sidemenu.page7">
                <img src="img/ljd91mJDSzemccMigm2v_doctor1.png">
                <h2>新建咨询</h2>
                <p>（8）位医生可为您服务</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="mc-sidemenu.page2">
                <img src="img/AryWFWWMSLStv3mLmjAR_order1.png">
                <h2>已下单</h2>
                <p>（2）订单待回答</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="mc-sidemenu.historyOrderPage">
                <img src="img/x1EHHtP0SWeTtFKNOuj1_history1.png">
                <h2>历史订单</h2>
                <p>（2）历史订单</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>