<ion-view title="瑞金足踝首页（已登录）" id="indexPage" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/patient_index01.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="indexPage-list1" class=" ">
            <ion-item class="item-thumbnail-left" ng-click="createOrder()">
                <img src="img/ljd91mJDSzemccMigm2v_doctor1.png">
                <h2>新建咨询</h2>
                <p>新建一个咨询，将会有认证医师接单</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="p-sm.openOrderPage">
                <img src="img/AryWFWWMSLStv3mLmjAR_order1.png">
                <h2>进行中咨询</h2>
                <p>查看咨询详情，并与医师互动</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="p-sm.historyOrderPage">
                <img src="img/x1EHHtP0SWeTtFKNOuj1_history1.png">
                <h2>历史咨询</h2>
                <p>查看历史咨询和互动历史</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>