<ion-view title="瑞金足踝首页（{{user.Name}}）" id="indexPage" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img ng-src="img/patient_index01.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <ion-list id="indexPage-list1" class=" ">
            <ion-item ng-if="user.IsDeleted === 'N'" class="item-thumbnail-left" ng-click="createOrder()">
                <img ng-src="img/doctor01.png">
                <h2>新建咨询</h2>
                <p>新建一个咨询，将会有认证医师接单</p>
            </ion-item>
            <ion-item ng-if="user.IsDeleted === 'N'" class="item-thumbnail-left" ui-sref="p-sm.openOrderPage">
                <img ng-src="img/order01.png">
                <h2>进行中咨询</h2>
                <p>查看咨询详情，并与医师互动</p>
            </ion-item>
            <ion-item ng-if="user.IsDeleted === 'N'" class="item-thumbnail-left" ui-sref="p-sm.historyOrderPage">
                <img ng-src="img/history01.png">
                <h2>历史咨询</h2>
                <p>查看历史咨询和互动历史</p>
            </ion-item>
			
			<ion-item ng-if="user.IsDeleted === 'Y'" style="height:100px;line-height:100px;text-align:center; vertical-align:middle;">
				<h2><strong>您的账户为锁定状态</strong><h2>
				<p><strong>如需解锁,请联系管理员</strong></p>
			</ion-item>
        </ion-list>
		
		
			
		
    </ion-content>
</ion-view>