<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="mc-sidemenu"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="mc-sidemenu">
        <ion-header-bar class="bar-stable">
            <div class="title">菜单</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <a ui-sref="mc-sidemenu.indexPage" menu-close="" id="mc-sidemenu-button1" class=" button button-positive  button-block ">首页</a>
            <a ui-sref="mc-sidemenu.openOrderPage" menu-close="" id="mc-sidemenu-button2" class=" button button-positive  button-block ">已下单</a>
            <a ui-sref="mc-sidemenu.historyOrderPage" menu-close="" id="mc-sidemenu-button3" class=" button button-positive  button-block ">历史订单</a>
            <a ui-sref="mc-sidemenu.patientInfoPage" menu-close="" id="mc-sidemenu-button4" class=" button button-positive  button-block ">个人资料</a>
            <button id="mc-sidemenu-button5" class=" button button-dark  button-block ">退出登录</button>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>