<ion-view title="{{page.title}}（{{currentOrder.ID}}）" id="orderDetail" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="100345-list8" class=" ">
            <ion-item class="item-avatar item-icon-right" id="100345-list-item6" ui-sref="p-sm.orderConvsPage" ng-click="getConvs(currentOrder)" >
                <img src="../uploadedImg/{{currentOrder.CTDoctor.Avatar}}">
                <h2>应诊：{{currentOrder.CTDoctor.Name}}</h2>
                <p>状态：<strong>{{currentOrder.Status}}</strong></p>
                <i class="icon {{page.actionIcon}}"></i>
            </ion-item>
        </ion-list>
        <div id="100345-markdown2" style="color:#000000;" class=" ">
            <p>
                <strong>患者姓名：</strong>{{currentOrder.CTPatient.Name}}</p>

            <p>
                <strong>性别：</strong>{{currentOrder.CTPatient.Gender}}</p>

            <p>
                <strong>出生日期：</strong>{{currentOrder.CTPatient.Birthday}}</p>

            <p>
                <strong>手机号码：</strong>{{currentOrder.CTPatient.Mobile}}</p>

            <p>
                <strong>病情描述:</strong></p>
			
				<textarea style="width:100% " rows="6" readonly="true">{{currentOrder.CTDetail.Description}}</textarea>

            <p>
                <strong>询诊图片:</strong>
            </p>
        </div>
        <div class="">
            <img src="img/1LNTOUeQSGsCfNn7bUzS_jiaohuai1.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="">
            <img src="img/4inGvTdPSsqxxWWWc9px_jiaohuai2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>