<ion-view title="{{page.title}}（{{currentOrder.ID}}）" id="orderDetail" class=" " cache-view="false" >
    <ion-content padding="true" class="has-header">
        <ion-list id="100345-list8" class=" ">
		    
            <ion-item ng-if="page.orderType === 'archived'"  class="item-avatar item-icon-right" id="100345-list-item6" ng-click="getConvs(currentOrder)" >
                <img ng-src="../uploadedImg/{{currentOrder.CTDoctor.Avatar}}">
                <h2><strong>咨询已存档，点击查看历史</strong></h2>
                <p><strong>应诊：{{currentOrder.CTDoctor.Name}}({{currentOrder.CTDoctor.MedicalLevel}})</strong></p>
                <i class="icon ion-locked "></i>
            </ion-item>
            <ion-item ng-if="page.orderType === 'complete'"  class="item-avatar item-icon-right" id="100345-list-item6" ng-click="getConvs(currentOrder)" >
                <img ng-src="../uploadedImg/{{currentOrder.CTDoctor.Avatar}}">
                <h2><strong>咨询已结束，点击查看历史</strong></h2>
                <p><strong>应诊：{{currentOrder.CTDoctor.Name}}({{currentOrder.CTDoctor.MedicalLevel}})</strong></p>
                <i class="icon ion-locked "></i>
            </ion-item>
            <ion-item  ng-if="page.orderType === 'ongoing'" class="item-avatar item-icon-right " id="100345-list-item6" ng-click="getConvs(currentOrder)" >
                <img ng-src="../uploadedImg/{{currentOrder.CTDoctor.Avatar}}">
                <h2 class="assertive"><strong>咨询进行中，点击与医生互动</strong></h2>
                <p><strong>应诊：{{currentOrder.CTDoctor.Name}}({{currentOrder.CTDoctor.MedicalLevel}})</strong></p>
                <i class="icon ion-android-chat assertive"></i>
            </ion-item>
            <ion-item  ng-if="page.orderType === 'unpaid'" class="item-avatar item-icon-right" id="100345-list-item6" ng-click="pay(currentOrder)" >
                <img ng-src="../uploadedImg/{{currentOrder.CTDoctor.Avatar}}">
                <h2><strong>医生已接单，点击付款</strong></h2>
                <p><strong>应诊：{{currentOrder.CTDoctor.Name}}({{currentOrder.CTDoctor.MedicalLevel}})</strong></p>
                <i class="icon ion-social-bitcoin "></i>
            </ion-item>
            <ion-item ng-if="page.orderType === 'new'" class="item-avatar item-icon-right" id="100345-list-item6" >
                <img ng-src="../uploadedImg/doctor_default01.png">
                <h2 class="positive"><strong>提交成功 请耐心等待医生确认</strong></h2>
                <i class="icon ion-locked  positive"></i>
            </ion-item>
        </ion-list>
        <div id="100345-markdown2" style="color:#000000;" class=" ">
            <p>
                <strong>患者姓名：</strong>{{currentOrder.CTPatient.Name}}</p>

            <p>
                <strong>性别：</strong>{{currentOrder.CTPatient.Gender, select,
									F {女}
									M {男}
									other {}}}</p>

            <p>
                <strong>发病年龄：</strong>{{currentOrder.CTDetail.IssueAge}}</p>

            <p>
                <strong>手机号码：</strong>{{currentOrder.CTPatient.Mobile}}</p>

            <p>
                <strong>病情描述:</strong></p>
			
				<textarea style="width:100% " rows="10" readonly="true">{{currentOrder.CTDetail.Description}}</textarea>

            <p>
                <strong>主要症状:</strong></p>
			
				<textarea style="width:100% " rows="6" readonly="true">{{currentOrder.CTDetail.Description2}}</textarea>

            <p>
                <strong>就诊经历:</strong></p>
			
				<textarea style="width:100% " rows="6" readonly="true">{{currentOrder.CTDetail.Description3}}</textarea>

            <p>
                <strong>其他病史:</strong></p>
			
				<textarea style="width:100% " rows="6" readonly="true">{{currentOrder.CTDetail.Description4}}</textarea>

            <p>
                <strong>过敏史:</strong></p>
			
				<textarea style="width:100% " rows="6" readonly="true">{{currentOrder.CTDetail.Description5}}</textarea>
        </div>
    </ion-content>
</ion-view>