<ion-view title="咨询互动({{currentOrder.ID}})" id="orderConvsPage" class=" ">
    <ion-content padding="false" class="has-header">
        <ion-list id="1003452-list6" class=" " ng-repeat="conv in orderConvs" >
            <ion-item ng-if="conv.Owner === 'P'" class="item-avatar  " id="1003452-list-item3" >
                <img src="../uploadedImg/{{currentOrder.CTPatient.Avatar}}">
                <h2>{{currentOrder.CTPatient.Name}} {{conv.CreateTime}}</h2>
                <p style="white-space:normal;">{{conv.Description}}</p>
            </ion-item>
            <ion-item ng-if="conv.Owner === 'D'" class="item-avatar  " id="1003452-list-item3" >
                <img src="../uploadedImg/{{currentOrder.CTDoctor.Avatar}}">
                <h2>{{currentOrder.CTDoctor.Name}} {{conv.CreateTime}}</h2>
                <p style="white-space:normal;">{{conv.Description}}</p>
            </ion-item>
        </ion-list>
        <a ui-sref="p-sm.imageUploadPage" disabled="true" id="1003453-button11" class=" button button-positive  button-block ">追加图片</a>
        <a ui-sref="p-sm.createOrderConvPage" id="1003453-button11" class=" button button-positive  button-block ">追加提问</a>
    </ion-content>
</ion-view>