<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="p-sm"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="p-sm">
        <ion-header-bar class="bar-stable">
            <div class="title">菜单</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <a ui-sref="p-sm.indexPage" menu-close="" id="p-sm-button1" class=" button button-positive  button-block ">首页</a>
            <a ui-sref="p-sm.createOrderPage" menu-close="" id="p-sm-button2" class=" button button-positive  button-block ">新建咨询</a>
            <a ui-sref="p-sm.openOrderPage" menu-close="" id="p-sm-button2" class=" button button-positive  button-block ">进行中咨询</a>
            <a ui-sref="p-sm.historyOrderPage" menu-close="" id="p-sm-button3" class=" button button-positive  button-block ">历史咨询</a>
            <a ui-sref="p-sm.patientInfoPage" menu-close="" id="p-sm-button4" class=" button button-positive  button-block ">个人资料</a>
            <button id="p-sm-button5" class=" button button-dark  button-block ">退出登录</button>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>