<ion-view title="编辑个人资料" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page8-form2" class="list ">
            <label class="item item-input " id="page8-input2">
                <span class="input-label">用户名</span>
                <input type="text" placeholder="Laowang88">
            </label>
            <label class="item item-input " id="page8-input4">
                <span class="input-label">患者姓名</span>
                <input type="text" placeholder="老王">
            </label>
            <ion-toggle toggle-class="toggle-" ng-checked="true" id="page8-toggle2" class=" ">性别（男）</ion-toggle>
            <label class="item item-input " id="page8-input8">
                <span class="input-label">电子邮箱</span>
                <input type="email" placeholder="laowang88@qq.com">
            </label>
            <label class="item item-input " id="page8-input5">
                <span class="input-label">出生日期</span>
                <input type="date" placeholder="06/08/1968">
            </label>
            <label class="item item-input " id="page8-input6">
                <span class="input-label">手机号码</span>
                <input type="tel" placeholder="18812345678">
            </label>
        </form>
        <a ui-sref="mc-sidemenu.page4" id="page8-button9" class=" button button-positive  button-block ">更新</a>
    </ion-content>
</ion-view>