<ion-view title="已下单" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page2-list2" class=" ">
            <ion-item class="item-thumbnail-left" ui-sref="side-menu21.100345">
                <img src="img/ldAbsW5SVK8dFeaUQDrU_doc17.jpg">
                <h2>咨询：张医师（主任医师）</h2>
                <p>这两天很肿胀，晚上睡不好觉，请问有什么止痛药可以服用推荐？</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="side-menu21.100345">
                <img src="img/QINeGGveRSmTK5dhSh2b_doc18.jpg">
                <h2>咨询：张医师（副主任医师）</h2>
                <p>这两天很肿胀，晚上睡不好觉，请问有什么止痛药可以服用推荐？</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>