<ion-view title="个人资料" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="page4-markdown1" style="color:#000000;" class=" ">
            <p>
                <strong>用户名：</strong>Laowang88</p>

            <p>
                <strong>患者姓名：</strong>老王</p>

            <p>
                <strong>性别：</strong>男</p>

            <p>
                <strong>电子邮箱：</strong>laowang88@qq.com</p>

            <p>
                <strong>出生日期：</strong>1968年6月8日</p>

            <p>
                <strong>手机号码：</strong>18812345678</p>
        </div>
        <a ui-sref="mc-sidemenu.page8" id="page4-button7" class=" button button-positive  button-block ">更新</a>
    </ion-content>
</ion-view>