<ion-view title="编辑个人资料" id="patientUpdatePage" class=" " cache-view="false" >
    <ion-content padding="true" class="has-header">
	    <div class="item item-body " id="patientUpdatePage-list-item-container1">
            <div>
                <img ng-src="../uploadedImg/{{patient.Avatar}}" style="display: block; 
		width: 50%;
		height: 50%; margin-left: auto; margin-right: auto; 
		border-radius: 50%;">
            </div>
        </div>
        <div class="list list-inset" ng-form name="updateForm">
            <label class="item item-input " id="form-Login">
                <span class="input-label">用户名</span>
                <input type="text" readonly="true" value="{{patient.Login}}" >
            </label>
			
                <label class="item item-input" id="signup-input14" ng-class="{ 'has-error' : updateForm.Name.$invalid}" >
                    <span class="input-label">真实姓名</span>
                    <input name="Name" type="text" value="{{patient.Name}}" ng-model="patient.Name" ng-minlength="2" required>
                </label>
				<span class="form-error" ng-show="updateForm.Name.$error.required">真实姓名不能为空</span>
				<span class="form-error" ng-show="updateForm.Name.$error.minlength">真实姓名不能短于2个字</span>
			
			
			<label class="item item-select " id="form-Gender">
                <span class="input-label">性别：</span>
                <select ng-model="patient.Gender">
                    <option value="F">女</option>
                    <option value="M">男</option>
                </select>
            </label>
			
				<label class="item item-input " id="form-Address" ng-class="{ 'has-error' : updateForm.Address.$invalid}" >
					<span class="input-label">住址</span>
					<input name="Address" type="text" value="{{patient.Address}}" ng-model="patient.Address" ng-minlength="8" required>
				</label>
				<span class="form-error" ng-show="updateForm.Address.$error.required">住址不能为空</span>
				<span class="form-error" ng-show="updateForm.Address.$error.minlength">请填写详细住址，如：xx省xx市xx区/县/镇...门牌号</span>
				
				<label class="item item-input " id="form-Mail" ng-class="{ 'has-error' : updateForm.Mail.$invalid}" >
					<span class="input-label">电子邮箱</span>
					<input name="Mail" type="email" value="{{patient.Mail}}" ng-model="patient.Mail" ng-minlength="5" required>
				</label>
				<span class="form-error" ng-show="updateForm.Mail.$error.required">电子邮箱不能为空</span>
				<span class="form-error" ng-show="updateForm.Mail.$invalid && !updateForm.Mail.$pristine">电子邮箱地址不符合格式</span>
				
            <label class="item item-input " id="form-Birthday">
                <span class="input-label">出生日期</span>
                <input type="date" value="{{patient.Birthday}}" >
            </label>
				
				<label class="item item-input " id="form-Mobile" ng-class="{ 'has-error' : updateForm.Mobile.$invalid}" >
					<span class="input-label">手机号码</span>
					<input name="Mobile" type="tel" value="{{patient.Mobile}}" ng-model="patient.Mobile" ng-minlength="11" required>
				</label>
				<span class="form-error" ng-show="updateForm.Mobile.$error.required">手机号码不能为空</span>
				<span class="form-error" ng-show="updateForm.Mobile.$invalid && !updateForm.Mobile.$pristine">手机号码不符合格式</span>
			
			
        </div>
        <a id="updateButton" ng-disabled="updateForm.$invalid" class=" button button-positive  button-block " ng-click="updatePatient()">更新</a>

    </ion-content>
</ion-view>