<ion-view title="个人资料" id="patientInfoPage" class=" " cache-view="false" >
    <ion-content padding="true" class="has-header">
	    <div class="item item-body " id="patientUpdatePage-list-item-container1">
            <div>
                <img ng-src="../uploadedImg/{{patient.Avatar}}" style="display: block; 
		width: 50%;
		height: 50%; margin-left: auto; margin-right: auto; 
		border-radius: 50%;">
            </div>
			<button ng-click="updateImage()" id="patientUpdatePage-button13" class=" button button-balanced button-small icon ion-ios-cloud-upload ">上传新头像</button>
        </div>
			<div id="patientInfoPage-markdown1" style="color:#000000;" class=" ">
				<p>
					<strong>用户名：</strong>{{patient.Login}}</p>

				<p>
					<strong>患者姓名：</strong>{{patient.Name}}</p>

				<p>
					<strong>性别：</strong>{{patient.Gender, select,
									F {女}
									M {男}
									other {}
					}}</p>

				<p>
					<strong>住址：</strong>{{patient.Address}}</p>

				<p>
					<strong>邮箱：</strong>{{patient.Mail}}</p>

				<p>
					<strong>出生日期：</strong>{{patient.Birthday}}</p>

				<p>
					<strong>手机号码：</strong>{{patient.Mobile}}</p>
			</div>
        </div>
        <a ui-sref="p-sm.patientUpdatePage" id="patientInfoPage-button7" class=" button button-positive  button-block icon ion-arrow-up-c ">更新</a>
        <a ui-sref="p-sm.updatePasswordPage" id="patientInfoPage-button7" class=" button button-balanced  button-block icon ion-key ">修改密码</a>
    </ion-content>
</ion-view>